<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".json" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
        <httpRedirect enabled="false" destination="" />
        <handlers>
            <add name="json" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="File" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
